<h2>Skills</h2>
<dl>
    <dt>Development</dt>
    <dd>
        PHP Frameworks <em>(Symfony2)</em>
        <br />
        Continuous Integration <em>(Automation, Tests, Doc)</em>
        <br />
        Versioning & Ticketing <em>(Git, Github)</em>
    </dd>
</dl>