<h2>Projects</h2>
<dl class="accordion">
    <dt>2011 - PHP TicTacToePeru</dt>
    <dd>
        <p>
            We created a repo for the tictactoe game to apply best practices
            More details on the <a href="http://github.com/phpperu/TicTacToe-Best-Practices-Project">Github page</a></strong>.
        </p>
    </dd>
</dl>