{% extends "AlomWebsiteBundle::layout.html.twig" %}

{% block title            'Contact | @php_peru' %}
{% block meta_description 'How to contact @php_peru' %}

{% set active = "contact" %}

{% block content %}
    <div class="page-content">

        <h1>Contact</h1>

        <div class="rich-content">
            <p>
                Send me e-mails on <a href="mailto:cordoval@gmail.com">cordoval@gmail.com</a>.
            </p>
        </div>

    </div>
{% endblock %}
