{#
  This file is part of the Alom project.

  (c) Alexandre Salomé <alexandre.salome@gmail.com>

  This source file is subject to the GPL license that is bundled
  with this source code in the file LICENSE.
#}
<div id="footer">
    <p>
      2012
      -
      Powered by @phpperu :D
    </p>
</div>
