@media -sass-debug-info{filename{font-family:file\:\/\/\/tmp\/assetic_compassFSaHMr\.sass}line{font-family:\000031}}
body, div, p, ul, ol, li, pre, h1, h2, h3, h4, h5, h6, table, tbody, thead, tfoot, tr, th, td dt, dl, dd, form {
  margin: 0;
  padding: 0;
  line-height: 1em;
  font-size: 1em;
  font-weight: normal;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/tmp\/assetic_compassFSaHMr\.sass}line{font-family:\000038}}
a {
  text-decoration: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/tmp\/assetic_compassFSaHMr\.sass}line{font-family:\0000310}}
a:hover {
  text-decoration: underline;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/tmp\/assetic_compassFSaHMr\.sass}line{font-family:\0000313}}
ol, ul {
  list-style-type: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/tmp\/assetic_compassQiDoyt\.sass}line{font-family:\000031}}
.col-parent {
  clear: both;
  overflow: hidden;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/tmp\/assetic_compassQiDoyt\.sass}line{font-family:\000035}}
.col-clear {
  clear: both;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/tmp\/assetic_compassQiDoyt\.sass}line{font-family:\000038}}
.col-1-2 {
  float: left;
  width: 50%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/tmp\/assetic_compasss1rdNw\.sass}line{font-family:\000031}}
form {
  padding: 20px;
  background-color: #f8f8f8;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/tmp\/assetic_compasss1rdNw\.sass}line{font-family:\000034}}
form > div {
  padding-bottom: 1em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/tmp\/assetic_compasss1rdNw\.sass}line{font-family:\000036}}
form label {
  display: block;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/tmp\/assetic_compasss1rdNw\.sass}line{font-family:\000038}}
form select {
  font-family: Georgia;
  font-size: 1.3em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/tmp\/assetic_compasss1rdNw\.sass}line{font-family:\0000312}}
form input[type=text], form input[type=password], form input[type=url], form input[type=email] {
  font-family: Georgia;
  font-size: 1.3em;
  width: 100%;
  border: 1px solid #bbbbbb;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/tmp\/assetic_compasss1rdNw\.sass}line{font-family:\0000317}}
form textarea {
  font-family: Georgia;
  font-size: 1.3em;
  width: 100%;
  border: 1px solid #bbbbbb;
  height: 4em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/tmp\/assetic_compasss1rdNw\.sass}line{font-family:\0000323}}
form .errors {
  color: red;
  padding-left: 1em;
  font-size: 0.9em;
}

/*Button set */
@media -sass-debug-info{filename{font-family:file\:\/\/\/tmp\/assetic_compassgHhDuB\.sass}line{font-family:\000033}}
.button-set {
  padding: 2em 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/tmp\/assetic_compassgHhDuB\.sass}line{font-family:\000035}}
.button-set .button {
  line-height: 1em;
  margin-right: 10px;
  margin-bottom: 15px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/tmp\/assetic_compassgHhDuB\.sass}line{font-family:\0000310}}
.button {
  color: black;
  display: inline-block;
  outline: none;
  font-family: Arial, Helvetica, sans-serif;
  padding: 0.5em 0.7em;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
  -webkit-border-radius: 0.5em;
  -moz-border-radius: 0.5em;
  border-radius: 0.5em;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  color: black;
  border: solid 1px #aaaaaa;
  background: #eeeeee;
  background: -webkit-gradient(linear, left top, left bottom, from(#f4f4f4), to(#dddddd));
  background: -moz-linear-gradient(top, #f4f4f4, #dddddd);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f4f4f4', endColorstr='#dddddd');
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/tmp\/assetic_compassgHhDuB\.sass}line{font-family:\0000329}}
.button:hover {
  background: -webkit-gradient(linear, left top, left bottom, from(white), to(#eeeeee));
  background: -moz-linear-gradient(top, white, #f0f0f0);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#f0f0f0');
}

/* Default : grey */
/* Hidden */
@media -sass-debug-info{filename{font-family:file\:\/\/\/tmp\/assetic_compassgHhDuB\.sass}line{font-family:\0000338}}
.button-hidden {
  color: #888888;
  border: dashed 1px #cccccc;
  background: #eeeeee;
  background: -webkit-gradient(linear, left top, left bottom, from(white), to(#eeeeee));
  background: -moz-linear-gradient(top, #f4f4f4, #dddddd);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f4f4f4', endColorstr='#dddddd');
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/tmp\/assetic_compassgHhDuB\.sass}line{font-family:\0000345}}
.button-hidden:hover {
  background: -webkit-gradient(linear, left top, left bottom, from(white), to(#eeeeee));
  background: -moz-linear-gradient(top, white, #f0f0f0);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#f0f0f0');
}

/*Green */
@media -sass-debug-info{filename{font-family:file\:\/\/\/tmp\/assetic_compassgHhDuB\.sass}line{font-family:\0000352}}
.button-green {
  color: white;
  border: solid 1px #228822;
  background: #66dd66;
  background: -webkit-gradient(linear, left top, left bottom, from(#66dd66), to(#228822));
  background: -moz-linear-gradient(top, #60d060, #208020);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#6d6', endColorstr='#282');
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/tmp\/assetic_compassgHhDuB\.sass}line{font-family:\0000359}}
.button-green:hover {
  background: -webkit-gradient(linear, left top, left bottom, from(#80e080), to(#409040));
  background: -moz-linear-gradient(top, #80e080, #409040);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#8e8', endColorstr='#494');
}

/*Red */
@media -sass-debug-info{filename{font-family:file\:\/\/\/tmp\/assetic_compassgHhDuB\.sass}line{font-family:\0000366}}
.button-red {
  color: white;
  border: solid 1px #882222;
  background: #dd6666;
  background: -webkit-gradient(linear, left top, left bottom, from(#dd6666), to(#882222));
  background: -moz-linear-gradient(top, #d06060, #802020);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#d66', endColorstr='#822');
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/tmp\/assetic_compassgHhDuB\.sass}line{font-family:\0000373}}
.button-red:hover {
  background: -webkit-gradient(linear, left top, left bottom, from(#e08080), to(#904040));
  background: -moz-linear-gradient(top, #e08080, #904040);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e88', endColorstr='#944');
}

/*Blue */
@media -sass-debug-info{filename{font-family:file\:\/\/\/tmp\/assetic_compassgHhDuB\.sass}line{font-family:\0000380}}
.button-blue {
  color: white;
  border: solid 1px #222288;
  background: #6666dd;
  background: -webkit-gradient(linear, left top, left bottom, from(#6666dd), to(#222288));
  background: -moz-linear-gradient(top, #6060d0, #202080);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#66d', endColorstr='#228');
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/tmp\/assetic_compassgHhDuB\.sass}line{font-family:\0000387}}
.button-blue:hover {
  background: -webkit-gradient(linear, left top, left bottom, from(#8080e0), to(#404090));
  background: -moz-linear-gradient(top, #8080e0, #404090);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#88e', endColorstr='#449');
}

/*Small buttons */
@media -sass-debug-info{filename{font-family:file\:\/\/\/tmp\/assetic_compassgHhDuB\.sass}line{font-family:\0000394}}
.button-small {
  font-size: 0.8em;
  padding: 0.3em 0.6em;
}

/* Add */
@media -sass-debug-info{filename{font-family:file\:\/\/\/tmp\/assetic_compassgHhDuB\.sass}line{font-family:\00003100}}
.button-add {
  color: white;
  border: solid 1px #228822;
  background: #66dd66;
  background: -webkit-gradient(linear, left top, left bottom, from(#66dd66), to(#228822));
  background: -moz-linear-gradient(top, #60d060, #208020);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#6d6', endColorstr='#282');
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/tmp\/assetic_compassgHhDuB\.sass}line{font-family:\00003107}}
.button-add:hover {
  background: -webkit-gradient(linear, left top, left bottom, from(#80e080), to(#409040));
  background: -moz-linear-gradient(top, #80e080, #409040);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#8e8', endColorstr='#494');
}

/* Edit */
@media -sass-debug-info{filename{font-family:file\:\/\/\/tmp\/assetic_compassgHhDuB\.sass}line{font-family:\00003114}}
.button-edit {
  color: white;
  border: solid 1px #222288;
  background: #6666dd;
  background: -webkit-gradient(linear, left top, left bottom, from(#6666dd), to(#222288));
  background: -moz-linear-gradient(top, #6060d0, #202080);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#66d', endColorstr='#228');
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/tmp\/assetic_compassgHhDuB\.sass}line{font-family:\00003121}}
.button-edit:hover {
  background: -webkit-gradient(linear, left top, left bottom, from(#8080e0), to(#404090));
  background: -moz-linear-gradient(top, #8080e0, #404090);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#88e', endColorstr='#449');
}

/* Delete */
@media -sass-debug-info{filename{font-family:file\:\/\/\/tmp\/assetic_compassgHhDuB\.sass}line{font-family:\00003128}}
.button-delete {
  color: white;
  border: solid 1px #882222;
  background: #dd6666;
  background: -webkit-gradient(linear, left top, left bottom, from(#dd6666), to(#882222));
  background: -moz-linear-gradient(top, #d06060, #802020);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#d66', endColorstr='#822');
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/tmp\/assetic_compassgHhDuB\.sass}line{font-family:\00003135}}
.button-delete:hover {
  background: -webkit-gradient(linear, left top, left bottom, from(#e08080), to(#904040));
  background: -moz-linear-gradient(top, #e08080, #904040);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e88', endColorstr='#944');
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/tmp\/assetic_compassSy2VPH\.sass}line{font-family:\000034}}
.rich-content p {
  line-height: 1.5em;
  margin: 1em 0.4em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/tmp\/assetic_compassSy2VPH\.sass}line{font-family:\000037}}
.rich-content pre {
  font-size: 0.9em;
  line-height: 1.4em;
  padding: 1em 0 1em 1em;
  background-color: black;
  color: white;
  border: 1px solid #888888;
  overflow: auto;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/tmp\/assetic_compassSy2VPH\.sass}line{font-family:\0000315}}
.rich-content tt {
  font-family: "Courier New", monospace;
  font-size: 0.9em;
  border: 1px solid #dddddd;
  background-color: #e8e8e8;
  padding: 0 0.2em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/tmp\/assetic_compassSy2VPH\.sass}line{font-family:\0000322}}
.rich-content span.k {
  color: #0099ff;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/tmp\/assetic_compassSy2VPH\.sass}line{font-family:\0000324}}
.rich-content span.nv {
  color: #ff9900;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/tmp\/assetic_compassSy2VPH\.sass}line{font-family:\0000326}}
.rich-content span.s1, .rich-content span.s2, .rich-content span.mi {
  color: #99ff00;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/tmp\/assetic_compassSy2VPH\.sass}line{font-family:\0000328}}
.rich-content span.p {
  color: #006699;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/tmp\/assetic_compassSy2VPH\.sass}line{font-family:\0000330}}
.rich-content span.nt {
  color: #0099ff;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/tmp\/assetic_compassSy2VPH\.sass}line{font-family:\0000332}}
.rich-content span.na {
  color: #ff9900;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/tmp\/assetic_compassSy2VPH\.sass}line{font-family:\0000334}}
.rich-content span.s {
  color: #99ff00;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/tmp\/assetic_compassSy2VPH\.sass}line{font-family:\0000336}}
.rich-content span.c1, .rich-content span.cp {
  color: #888888;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/tmp\/assetic_compassSy2VPH\.sass}line{font-family:\0000338}}
.rich-content ul {
  list-style-type: disc;
  padding-left: 2em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/tmp\/assetic_compassSy2VPH\.sass}line{font-family:\0000341}}
.rich-content li {
  line-height: 1.5em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/tmp\/assetic_compassSy2VPH\.sass}line{font-family:\0000344}}
.rich-content h2, .rich-content h3 {
  margin: 1em 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/tmp\/assetic_compassSy2VPH\.sass}line{font-family:\0000347}}
.rich-content .warning {
  border: 1px solid #dd9999;
  background-color: #ffdddd;
  margin: 1em 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/tmp\/assetic_compassSy2VPH\.sass}line{font-family:\0000351}}
.rich-content .warning p {
  margin: 0.4em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/tmp\/assetic_compassSy2VPH\.sass}line{font-family:\0000353}}
.rich-content .warning p.first {
  font-weight: bold;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/tmp\/assetic_compassSy2VPH\.sass}line{font-family:\0000355}}
.rich-content table {
  border-collapse: collapse;
  width: 100%;
  margin: 1em 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/tmp\/assetic_compassSy2VPH\.sass}line{font-family:\0000359}}
.rich-content table td {
  padding: 0.4em 0.4em;
  border: 1px solid #bbbbbb;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/tmp\/assetic_compassSy2VPH\.sass}line{font-family:\0000362}}
.rich-content table th {
  padding: 0.4em 0.4em;
  border: 1px solid #bbbbbb;
  background-color: #efefef;
  font-weight: bold;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/tmp\/assetic_compassSy2VPH\.sass}line{font-family:\0000368}}
.rich-content img.float-left {
  float: left;
  margin-right: 10px;
  margin-bottom: 5px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/tmp\/assetic_compassZXWtJP\.sass}line{font-family:\000033}}
body {
  font-size: 15px;
  font-family: Arial, Helvetica, "sans-serif";
  background-color: #202020;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/tmp\/assetic_compassZXWtJP\.sass}line{font-family:\000038}}
#content-wrapper {
  background-color: white;
  padding-top: 50px;
  padding-bottom: 20px;
  text-align: center;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/tmp\/assetic_compassZXWtJP\.sass}line{font-family:\0000314}}
#content {
  text-align: left;
  margin: 0 auto;
  width: 960px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/tmp\/assetic_compassZXWtJP\.sass}line{font-family:\0000319}}
#content h1 {
  padding-bottom: 20px;
  font-family: Georgia, "serif";
  font-size: 32px;
  margin: 0.4em 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/tmp\/assetic_compassZXWtJP\.sass}line{font-family:\0000325}}
#content h2 {
  font-size: 24px;
  font-family: Georgia, "serif";
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/tmp\/assetic_compassZXWtJP\.sass}line{font-family:\0000329}}
#content h3 {
  font-family: Georgia, "serif";
  font-size: 20px;
  font-weight: bold;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/tmp\/assetic_compassZXWtJP\.sass}line{font-family:\0000334}}
a, a:visited {
  color: #007eb2;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/tmp\/assetic_compassTJIR5Y\.sass}line{font-family:\000037}}
#banner {
  background-color: #202020;
  height: 30px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/tmp\/assetic_compassTJIR5Y\.sass}line{font-family:\0000311}}
#banner-social {
  height: 30px;
  width: 960px;
  margin: 0 auto;
  position: relative;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/tmp\/assetic_compassTJIR5Y\.sass}line{font-family:\0000317}}
#banner-social li {
  float: left;
  height: 30px;
  line-height: 30px;
  font-size: 12px;
  font-family: Arial, Helvetica, "sans-serif";
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/tmp\/assetic_compassTJIR5Y\.sass}line{font-family:\0000324}}
#banner-social li.auth {
  position: absolute;
  right: 0;
  text-align: right;
  color: white;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/tmp\/assetic_compassTJIR5Y\.sass}line{font-family:\0000330}}
#banner-social li.auth a {
  float: none;
  display: inline;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/tmp\/assetic_compassTJIR5Y\.sass}line{font-family:\0000334}}
#banner-social li a {
  font-weight: bold;
  float: left;
  height: 30px;
  padding: 0 0.7em;
  color: white;
  display: block;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/tmp\/assetic_compassTJIR5Y\.sass}line{font-family:\0000342}}
#banner-social li a:hover {
  text-decoration: none;
  height: 27px;
  border-bottom: 3px solid #ff8800;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/tmp\/assetic_compasspKsPW9\.sass}line{font-family:\000036}}
#header-wrapper {
  background-color: white;
  text-align: center;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/tmp\/assetic_compasspKsPW9\.sass}line{font-family:\0000310}}
#header {
  text-align: left;
  margin: 0 auto;
  width: 960px;
  height: 60px;
  position: relative;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/tmp\/assetic_compasspKsPW9\.sass}line{font-family:\0000317}}
#header a {
  color: #202020;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/tmp\/assetic_compasspKsPW9\.sass}line{font-family:\0000320}}
#header a.active, #header a:hover {
  color: #ff8800;
  text-decoration: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/tmp\/assetic_compasspKsPW9\.sass}line{font-family:\0000324}}
#header h1 {
  font-family: Georgia, "serif";
  font-size: 40px;
  position: absolute;
  bottom: -2px;
  left: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/tmp\/assetic_compasspKsPW9\.sass}line{font-family:\0000331}}
#header h1 a {
  color: #202020;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/tmp\/assetic_compasspKsPW9\.sass}line{font-family:\0000334}}
#header h1.active a {
  color: #ff8800;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/tmp\/assetic_compasspKsPW9\.sass}line{font-family:\0000337}}
#header ul {
  font-family: Georgia, "serif";
  position: absolute;
  bottom: 0;
  left: 480px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/tmp\/assetic_compasspKsPW9\.sass}line{font-family:\0000343}}
#header ul li {
  font-size: 24px;
  float: left;
  margin-right: 1em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/tmp\/assetic_compassEn1Dim\.sass}line{font-family:\000033}}
#footer p {
  line-height: 2em;
  font-size: 12px;
  text-align: center;
  color: white;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/tmp\/assetic_compassEn1Dim\.sass}line{font-family:\000039}}
#footer a {
  color: #ff8800;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/tmp\/assetic_compassYvH87z\.sass}line{font-family:\000034}}
.page-main-cv a {
  color: #ff8800;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/tmp\/assetic_compassYvH87z\.sass}line{font-family:\000036}}
.page-main-cv p {
  line-height: 1.5em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/tmp\/assetic_compassYvH87z\.sass}line{font-family:\000038}}
.page-main-cv h2 {
  margin-right: 10px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/tmp\/assetic_compassYvH87z\.sass}line{font-family:\0000310}}
.page-main-cv dl {
  margin-bottom: 20px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/tmp\/assetic_compassYvH87z\.sass}line{font-family:\0000313}}
.page-main-cv dd p {
  margin-top: 0.5em;
  margin-top: 0.2em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/tmp\/assetic_compassYvH87z\.sass}line{font-family:\0000316}}
.page-main-cv dt {
  color: #222222;
  margin-top: 0.4em;
  padding: 0.4em 0.6em;
  border: 1px solid white;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/tmp\/assetic_compassYvH87z\.sass}line{font-family:\0000321}}
.page-main-cv .more {
  display: inline-block;
  width: 1em;
  text-align: center;
  color: #ff8800;
  font-weight: bold;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/tmp\/assetic_compassYvH87z\.sass}line{font-family:\0000327}}
.page-main-cv dt.active {
  margin-right: 10px;
  border-bottom: 1px solid #ff8800;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/tmp\/assetic_compassYvH87z\.sass}line{font-family:\0000330}}
.page-main-cv dd {
  margin-right: 10px;
  line-height: 1.3em;
  padding: 0.3em 3em 0 1em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/tmp\/assetic_compassYvH87z\.sass}line{font-family:\0000334}}
.page-main-cv ul {
  padding-left: 2em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/tmp\/assetic_compassYvH87z\.sass}line{font-family:\0000336}}
.page-main-cv li {
  line-height: 1.2em;
  list-style-type: circle;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/cordoval\/sites-2\/phpperu\/src\/Alom\/WebsiteBundle\/Resources\/assets\/css\/common\.sass}line{font-family:\0000329}}
.page-main-homepage dl {
  padding-top: 20px;
  padding-right: 20px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/cordoval\/sites-2\/phpperu\/src\/Alom\/WebsiteBundle\/Resources\/assets\/css\/common\.sass}line{font-family:\0000332}}
.page-main-homepage dl dt {
  font-weight: bold;
  line-height: 1.4em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/cordoval\/sites-2\/phpperu\/src\/Alom\/WebsiteBundle\/Resources\/assets\/css\/common\.sass}line{font-family:\0000335}}
.page-main-homepage dl dd {
  padding-bottom: 10px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/tmp\/assetic_compasssOmmtP\.sass}line{font-family:\000036}}
.page-main-homepage .block-last-books {
  padding: 20px 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/tmp\/assetic_compasssOmmtP\.sass}line{font-family:\000039}}
.page-main-homepage .block-last-books img {
  border: 1px solid #bbbbbb;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/tmp\/assetic_compasssOmmtP\.sass}line{font-family:\0000312}}
.page-main-homepage .block-last-books .very-last {
  padding-bottom: 20px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/tmp\/assetic_compasssOmmtP\.sass}line{font-family:\0000313}}
.page-main-homepage .block-last-books .very-last table {
  width: 100%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/tmp\/assetic_compasssOmmtP\.sass}line{font-family:\0000315}}
.page-main-homepage .block-last-books .very-last table td {
  height: 200px;
  text-align: center;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/tmp\/assetic_compasssOmmtP\.sass}line{font-family:\0000320}}
.page-main-homepage .block-last-books .others {
  overflow: hidden;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/tmp\/assetic_compasssOmmtP\.sass}line{font-family:\0000322}}
.page-main-homepage .block-last-books .others .book {
  width: 112px;
  float: left;
  text-align: center;
  height: 100px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/tmp\/assetic_compasssOmmtP\.sass}line{font-family:\0000327}}
.page-main-homepage .block-last-books .others .book table {
  width: 100%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/tmp\/assetic_compasssOmmtP\.sass}line{font-family:\0000329}}
.page-main-homepage .block-last-books .others .book table td {
  height: 100px;
  text-align: center;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/tmp\/assetic_compasssOmmtP\.sass}line{font-family:\0000333}}
.page-main-homepage .block-more a {
  color: #ff8800;
  font-size: 24px;
  line-height: 2em;
  font-family: Georgia, "serif";
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/tmp\/assetic_compassHkidi6\.sass}line{font-family:\000034}}
.page-post-list ul {
  padding-bottom: 30px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/tmp\/assetic_compassHkidi6\.sass}line{font-family:\000037}}
.page-post-list ul li {
  padding: 10px 0;
  font-weight: bold;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/tmp\/assetic_compassfNo0vo\.sass}line{font-family:\000034}}
.page-post-view h1 {
  text-align: center;
  margin: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/tmp\/assetic_compassfNo0vo\.sass}line{font-family:\000037}}
.page-post-view .post-date {
  text-align: center;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/tmp\/assetic_compassfNo0vo\.sass}line{font-family:\0000310}}
.blog-post-history {
  padding-bottom: 1em;
  overflow: hidden;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/tmp\/assetic_compassfNo0vo\.sass}line{font-family:\0000313}}
.blog-post-history .next {
  float: right;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/tmp\/assetic_compassfNo0vo\.sass}line{font-family:\0000315}}
.blog-post-history .previous {
  float: left;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/tmp\/assetic_compassfNo0vo\.sass}line{font-family:\0000317}}
.blog-post-history a {
  background-color: #cccccc;
  color: black;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/tmp\/assetic_compassfNo0vo\.sass}line{font-family:\0000321}}
.blog-post-comments {
  margin: 20px 0;
  border-top: 1px solid #bbbbbb;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/tmp\/assetic_compassfNo0vo\.sass}line{font-family:\0000325}}
.blog-post-comments p.author {
  font-family: Georgia;
  font-size: 1.2em;
  margin: 15px 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/tmp\/assetic_compassfNo0vo\.sass}line{font-family:\0000329}}
.blog-post-comments p.body {
  padding-left: 15px;
  padding-bottom: 15px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/tmp\/assetic_compassfNo0vo\.sass}line{font-family:\0000332}}
.blog-post-comments .comment {
  padding-top: 15px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/tmp\/assetic_compassfNo0vo\.sass}line{font-family:\0000334}}
.blog-post-comments .comment .body {
  line-height: 1.3em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/tmp\/assetic_compassfNo0vo\.sass}line{font-family:\0000336}}
.blog-post-comments p.author em {
  font-size: 0.7em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/tmp\/assetic_compassfNo0vo\.sass}line{font-family:\0000341}}
form.post-comment h2 {
  font-size: 1.4em;
  font-family: Georgia;
  padding-bottom: 1em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/tmp\/assetic_compassfNo0vo\.sass}line{font-family:\0000346}}
form.post-comment p.confirmation {
  color: #00aa00;
  font-size: 1.2em;
  font-weight: bold;
  text-align: center;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/tmp\/assetic_compassfNo0vo\.sass}line{font-family:\0000353}}
.no-comments {
  text-align: center;
  padding: 15px 0;
  font-family: Georgia;
  font-size: 1.4em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/tmp\/assetic_compassfNo0vo\.sass}line{font-family:\0000359}}
.comment-actions {
  float: right;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/tmp\/assetic_compassfNo0vo\.sass}line{font-family:\0000362}}
.comment-inactive {
  color: #aaaaaa;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/tmp\/assetic_compassfNo0vo\.sass}line{font-family:\0000365}}
.blog-post-actions {
  text-align: right;
  padding-bottom: 40px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/tmp\/assetic_compassZKd5eI\.sass}line{font-family:\000031}}
#post-edit {
  background: none;
  padding: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/tmp\/assetic_compassZKd5eI\.sass}line{font-family:\000035}}
#form-body-edit {
  border: 1px solid #aaaaaa;
  padding: 10px;
  background-color: #e8e8e8;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/tmp\/assetic_compassZKd5eI\.sass}line{font-family:\0000310}}
#post_body {
  height: 250px;
  font-size: 20px;
  font-family: "Courier New", "monospace";
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/tmp\/assetic_compassZKd5eI\.sass}line{font-family:\0000315}}
#post-body-preview {
  height: 250px;
  overflow: auto;
  background-color: white;
  border: 1px solid #bbbbbb;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/tmp\/assetic_compassZKd5eI\.sass}line{font-family:\0000321}}
#post-body-actions {
  padding: 10px 0;
}

/*Fullscreen */
@media -sass-debug-info{filename{font-family:file\:\/\/\/tmp\/assetic_compassZKd5eI\.sass}line{font-family:\0000326}}
#form-body-edit.fullscreen {
  border: 0;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/tmp\/assetic_compassZKd5eI\.sass}line{font-family:\0000333}}
#form-body-edit.fullscreen label {
  display: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/tmp\/assetic_compassZKd5eI\.sass}line{font-family:\0000335}}
#form-body-edit.fullscreen #post-body-preview {
  border: 1px solid #bbbbbb;
  background: white;
  overflow: auto;
  position: absolute;
  top: 10px;
  left: 10px;
  width: 900px;
  bottom: 50px;
  height: auto;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/tmp\/assetic_compassZKd5eI\.sass}line{font-family:\0000345}}
#form-body-edit.fullscreen textarea {
  position: absolute;
  top: 10px;
  left: 10px;
  bottom: 50px;
  width: 800px;
  height: auto;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/tmp\/assetic_compassZKd5eI\.sass}line{font-family:\0000352}}
#form-body-edit.fullscreen #post-body-actions {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 10px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/tmp\/assetic_compassWANWs3\.sass}line{font-family:\000035}}
.page-book-list .book-set {
  padding: 10px 0 50px 0;
  overflow: hidden;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/tmp\/assetic_compassWANWs3\.sass}line{font-family:\000039}}
.page-book-list .book-link {
  padding-top: 20px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/tmp\/assetic_compassWANWs3\.sass}line{font-family:\0000312}}
.page-book-list .book-entry {
  overflow: hidden;
  padding-top: 30px;
  clear: both;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/tmp\/assetic_compassWANWs3\.sass}line{font-family:\0000317}}
.page-book-list h3 {
  padding-bottom: 10px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/tmp\/assetic_compassWANWs3\.sass}line{font-family:\0000320}}
.page-book-list .book-details {
  float: left;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/tmp\/assetic_compassWANWs3\.sass}line{font-family:\0000323}}
.page-book-list .book-illustration {
  float: left;
  width: 200px;
  text-align: center;
  padding-right: 10px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/tmp\/assetic_compassWANWs3\.sass}line{font-family:\0000328}}
.page-book-list .book-illustration img {
  border: 1px solid #bbbbbb;
}
