@media -sass-debug-info{filename{font-family:file\:\/\/\/tmp\/assetic_compassHkidi6\.sass}line{font-family:\000034}}
.page-post-list ul {
  padding-bottom: 30px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/tmp\/assetic_compassHkidi6\.sass}line{font-family:\000037}}
.page-post-list ul li {
  padding: 10px 0;
  font-weight: bold;
}
