@media -sass-debug-info{filename{font-family:file\:\/\/\/tmp\/assetic_compassWANWs3\.sass}line{font-family:\000035}}
.page-book-list .book-set {
  padding: 10px 0 50px 0;
  overflow: hidden;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/tmp\/assetic_compassWANWs3\.sass}line{font-family:\000039}}
.page-book-list .book-link {
  padding-top: 20px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/tmp\/assetic_compassWANWs3\.sass}line{font-family:\0000312}}
.page-book-list .book-entry {
  overflow: hidden;
  padding-top: 30px;
  clear: both;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/tmp\/assetic_compassWANWs3\.sass}line{font-family:\0000317}}
.page-book-list h3 {
  padding-bottom: 10px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/tmp\/assetic_compassWANWs3\.sass}line{font-family:\0000320}}
.page-book-list .book-details {
  float: left;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/tmp\/assetic_compassWANWs3\.sass}line{font-family:\0000323}}
.page-book-list .book-illustration {
  float: left;
  width: 200px;
  text-align: center;
  padding-right: 10px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/tmp\/assetic_compassWANWs3\.sass}line{font-family:\0000328}}
.page-book-list .book-illustration img {
  border: 1px solid #bbbbbb;
}
