@media -sass-debug-info{filename{font-family:file\:\/\/\/tmp\/assetic_compassEn1Dim\.sass}line{font-family:\000033}}
#footer p {
  line-height: 2em;
  font-size: 12px;
  text-align: center;
  color: white;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/tmp\/assetic_compassEn1Dim\.sass}line{font-family:\000039}}
#footer a {
  color: #ff8800;
}
